body {
  margin: 20px;
  padding: 20px;
  /* background-color: rgb(170, 167, 167); */
}

#root {
  /* color: rgb(242, 234, 234); */
  margin: 5px;
}

h1 {
  text-align: center;
  color: rgb(155, 71, 1);
  font-family: fantasy;
  font-weight: bold;
  font-size: 50px;
}

/* card container */
.top-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  text-align: center;
  /* background-color: antiquewhite; */
}

/* movie card box */
.movie-card {
  border: 2px solid rgb(220, 101, 4);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background-color: antiquewhite;
  color: black;
  box-shadow: 10px 10px grey;
  /* background-color: rgb(10, 9, 9);
  color: rgb(242, 234, 234); */
}

/* search box for episodes */
#userInput {
  padding: 5px;
  margin: 5px;
}

/* drop down box - selection */
#episode-list {
  padding: 5px;
  margin: 5px;
  width: 25%;
}

#show-list {
  padding: 5px;
  margin: 5px;
  width: 20%;
}

/* span text */
#number {
  padding: 2px;
  margin: 2px;
}

/* footer area */
#footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  color: rgb(155, 71, 1);
  font-family: fantasy;
}

button {
  background-color: orange;
  color: black;
  padding: 5px;
  margin: 5px;
  width: 10%;
}

.series-title {
  text-align: center;
  color: rgba(78, 4, 4, 0.853);
  margin: 5px;
  border-bottom: 1px solid rgb(97, 12, 3);
}

.series-card {
  background-color: antiquewhite;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 10px 10px grey;
  /* /* display: flex;
  align-content: space-between; */
}

.series-info {
  color: orange;
  background-color: black;
  padding: 1rem;
  margin: 1rem;
  height: 15%;
  width: auto;
}
