body {
  margin: 20px;
  padding: 1rem;
  background-color: rgb(170, 167, 167);
}

#root {
  color: rgb(242, 234, 234);
  margin: 5px;
}

h1 {
  text-align: center;
  color: rgb(155, 71, 1);
  font-family: fantasy;
  font-weight: bold;
  font-size: 50px;
}

/* card container */
.top-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  text-align: center;
  background-color: black;
}

/* movie card box */
.movie-card {
  border: 2px solid rgb(220, 101, 4);
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(10, 9, 9);
  color: rgb(242, 234, 234);
}

/* search box for episodes */
#userInput {
  padding: 5px;
  margin: 5px;
}

/* drop down box - selection */
#episode-list {
  padding: 5px;
  margin: 5px;
  width: 25%;
}

#show-list {
  padding: 5px;
  margin: 5px;
  width: 20%;
}

/* span text */
#number {
  padding: 2px;
  margin: 2px;
}

/* footer area */
#footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  color: rgb(155, 71, 1);
  font-family: fantasy;
}

button{
  background-color: orange;
  color: black;
  padding: 5px;
  margin: 5px;
  width: 10%;
}
